<%# in line table view - the past three user’s days - edit/add food, edit/add symptom - click to expand more? %>
<h3>Welcome! Here's what you've been putting in your body </h3>
<%= @user_days.each do |day| %>
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <%= day.day_of_week, day.month_day_year %>
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    What did you put in your body?
    <%= day.symptoms %>
    (form for a new symptom)
    What did your body experience?
    <%= day.foods %>
    (form for a new food)
  </div>
</div>
<% end %>
