<h3>Here are all the foods you've been eating:</h3>

<div class="card">
  <div class="card-body">
    <ul class="list-group">
      <%= @user_foods.each do |food| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= link_to food.name, user_food_path(@user, food) %>
          <span class="badge badge-primary badge-pill"><%= food.days.count %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
